<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.ddsnelle.phonegapdemo1"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap Demo #1</name>

    <description>
        My first PhoneGap Demo!
    </description>

    <author href="http://dansnellenberger.com" email="duncan787@gmail.com">
        Dan Snellenberger
    </author>

	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />
	
	<!-- PREFERENCES -->
	<!-- http://docs.build.phonegap.com/en_US/configuring_preferences.md.html#Preferences -->
	<preference name="phonegap-version" value="3.6.3" />
	
	<-- Enable both Landscape and Portrait mode (default=both; landscape; portrait) -->
	<preference name="orientation" value="default" />

</widget>